.nav-ContactConfirmedPage {
    background-color: #110031;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ContactConfirmedPage-container2 {
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ContactConfirmedPage-container2 h1 {
    color: #110031;
    font-size: 40px;
    font-weight: bold;
    font-family: sora;
}

.ContactConfirmedPage-container2 p {
    font-family: Poppins;
    color: #110031;
}

.goback-to-music {
    padding: 20px 60px 20px 60px;
    background-color: #c307c3;
    color: white;
    font-family: Sora;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    letter-spacing: 3px;
}

.goback-to-music:hover {
    background-color: #ff74ff;

}

/*--------------@MEDIA QUERY---------------------------*/

@media screen and (max-width:480px) {

    .ContactConfirmedPage-container2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .ContactConfirmedPage-container2 h1 {
        font-size: 20px;
    }

    .ContactConfirmedPage-container2 p {
        font-size: 14px;
    }

    .goback-to-music {
        padding: 15px 35px 15px 35px;
        font-size: 11px;
    }

}

/*---------------------------------*/

@media screen and (max-width:768px) {
    .ContactConfirmedPage-container2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .ContactConfirmedPage-container2 h1 {
        font-size: 20px;
    }

    .ContactConfirmedPage-container2 p {
        font-size: 14px;
    }

    .goback-to-music {
        padding: 15px 35px 15px 35px;
        font-size: 11px;
    }

}

/*---------------------------------*/

@media screen and (max-width:480px) {

    .goback-to-music {
        padding: 15px 35px 15px 35px;
        font-size: 11px;
    }

}


